
<div class="footer">
  <div class="contacto" style="padding-top: 1rem;">
    <h2>Contactame</h2>
    <div class="links">
      <a href="mailto:jhangalvis422@gmail.com" style="text-decoration: none; color: white;"><i class="fa-regular fa-envelope"></i> Jhangalvis422@gmail.com</a>
      <a href="https://www.linkedin.com/feed/" target="_blank" style="text-decoration: none; color: white;"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
      <a href="https://github.com/AltairCGS" target="_blank" style="text-decoration: none; color: white;"><i class="fa-brands fa-github"></i> @AltairCGS</a>
    </div>

  </div>
</div>