.footer{
  background-color: #2ec02e;
  color: white;
  margin-top: 3rem;
}

.contacto{
  max-width: 1280px;
  margin: auto;
}

.links{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  padding-bottom: 3rem;
}

@media (max-width: 640px){
  .links{
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: flex-start;
  }
}