<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#2ec02e" fill-opacity="1" d="M0,192L40,170.7C80,149,160,107,240,90.7C320,75,400,85,480,128C560,171,640,245,720,240C800,235,880,149,960,122.7C1040,96,1120,128,1200,144C1280,160,1360,160,1400,160L1440,160L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
  <div class="proyectos-container habilidades-container">
    <h2 style="color: black; text-align: center;">Proyectos</h2>
    <div class="proyectos-cards">
      <a href="https://altaircgs.github.io/snake/" class="proyectos-link" target="_blank">
        <div class="box">
          <span></span>
          <div class="content" style="display: flex; flex-direction: column;">
            <h2>Snake</h2>
            <p>más info</p>
          </div>
        </div>
      </a>
      <a href="" class="proyectos-link" target="_blank">
        <div class="box">
          <span></span>
          <div class="content" style="display: flex; flex-direction: column;">
            <h2>Tamagochi</h2>
            <p>más info</p>
          </div>
        </div>
      </a>
      <a href="https://github.com/AltairCGS/todo-app" class="proyectos-link" target="_blank">
        <div class="box">
          <span></span>
          <div class="content" style="display: flex; flex-direction: column;">
            <h2>ToDo App</h2>
            <p>más info</p>
          </div>
        </div>
      </a>
      <a href="https://github.com/AltairCGS/IMBd" class="proyectos-link" target="_blank">
        <div class="box">
          <span></span>
          <div class="content" style="display: flex; flex-direction: column;">
            <h2>IMBd slider</h2>
            <p>más info</p>
          </div>
        </div>
      </a>
      <a href="https://altaircgs.github.io/BootcampDesafio/" class="proyectos-link" target="_blank">
        <div class="box">
          <span></span>
          <div class="content" style="display: flex; flex-direction: column;">
            <h2>Rest Countries</h2>
            <p>más info</p>
          </div>
        </div>
      </a>
    </div>
  </div>

